* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #242038;
  min-height: 100vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  fill: #F7ECE1;
}

h1 {
  font-size: 20pt;
  color: #F7ECE1;
  margin-left: 55pt;
  margin-bottom: 5pt;
  margin-top: 15pt;
  text-align: left;
  font-family: Montserrat, sans-serif;
}

p {
  font-size: 20pt;
  color: #F7ECE1;
  text-align: left;
  margin-left: 75px;
  margin-right: 55pt;
  font-family: Montserrat, sans-serif;
}

footer p {
  text-align: center;
  font-size: 10pt;
  margin-bottom: 20px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-box {
  background-color: #2f2944;     
  border-radius: 10px;           
  max-width: 1300px;
  margin: 2rem auto;
  transition: all 0.3s ease;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
